

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(47, 47, 47), rgb(150, 150, 150), rgb(218, 162, 58));

}

.calcContainer {
    background-color: black;
    width: 370px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    border-radius: 55px;

}

.secondInput {
    color: white;
    width: 330px;
    height: 300px;
    margin-top: 40px;
    font-family: Helvetica neue;
    overflow: auto;
    background-color: rgb(23, 23, 23);
    padding: 5px;
}

.input {
    color: white;   
    font-size: 90px;
    font-family: Helvetica neue;
    font-weight: 200;
    text-align: right;
    height:250px;
    width: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    
}

button {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-style: none;
}

#zero {
    width: 160px;
    border-radius: 50px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
}

.topRow {
    background-color: rgb(150, 150, 150);
}

.topRow:hover {
    filter: brightness(120%);
}
.numbers {
    background-color:rgb(47, 47, 47);
    color: white;
}

.numbers:hover, #decimal:hover {
    filter: brightness(150%);
}

#decimal {
    background-color:rgb(47, 47, 47);
    color: white;
}

.operators {
    background-color: rgb(233, 151, 0);
    color: white;
    font-size: 40px;
}

.operators:hover {
    background-color: rgb(250, 193, 94);
}

.footer {
    font-size: 25px;
    bottom: 15px;
    position: fixed;
    left: 15px;
}